.benefits {
  background: no-repeat url("assets/images/blue_bg.png");
  background-position: center;
  background-size: cover;
  padding: 120px 0 363px 0;
  * {
    color: $white;
  }
  &-content {
    &__header {
      display: flex;
      border-bottom: 1px solid rgba(255, 255, 255, 0.3);
      .benefits-content__title,
      .benefits-content__text {
        width: 50%;
      }
    }
    &__wrapper {
      padding: 70px 0;
      display: flex;
      justify-content: center;
      .benefits-content__item {
        text-align: center;
        padding: 0 100px;
        &:not(:nth-child(1)) {
          border-left: 1px solid rgba(255, 255, 255, 0.7);
        }

        &--num {
          font-size: 60px;
          margin: 0 0 10px 0;
        }
        &--text {
          opacity: 0.7;
        }
      }
    }
  }
}
