.form__body {
  position: relative;
  display: flex;
  flex-direction: column;
  &::after {
    position: absolute;
    border-radius: 10px;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba($primary, 0.3) url("assets/images/gif/giphy.gif") center /
      50px no-repeat;
    opacity: 0;
    visibility: hidden;
  }
  &._sending::after {
    opacity: 1;
    visibility: visible;
  }
}
.form__input.__error {
  border: 2px solid red;
}
