.content {
   &-wrapper {
      min-height: 800px;
      background: no-repeat url("assets/images/bg_1-02.webp");
      background-position: top;
      background-size: contain;
      @include medium-desktop-up {
         background-position: center;
        background-size: cover;
      }
      @include phone-only{
         min-height: 200px;
         max-height: 500px;
         background-size: cover;
         background-position: right;
      }
   }
   .social{
      @include phone-only{
         display:  none;
      }
   }
}
