.main-footer {
  background: $black;
  &__wrapper {
    padding: 40px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include phone-only{
      .nav{
        display: none;
      }
    }
    a {
      color: $white !important;
      &:after {
        background: $white !important;
      }
    }
    .main-footer__item {
      @include tablet-p-up {
        img{
          transform: scale(1.5);
        }

      }
      &--social {
        filter: invert(1);
      }
      a + a {
        margin-left: 10px;
      }
    }
  }
  .footer-footer {
    text-align: center;
    padding: 10px 0;
    border-top: 1px solid rgba($white, 0.1);
    color: rgba($white, 0.5);
  }
}
