.intro {
  @include tablet-l-up {
    margin: 150px 0 0 0;
    display: flex;
    align-items: center;
  }
  &-wrapper {
    width: 60%;
    p {
      width: 60%;
    }
    @include phone-only{
      width: 100%;
      p{
        width: 100%;
      }
    }
  }
}
