.nav-items__link {
   &.lang {
      padding: 0px 25px;
      position: relative;
      border-radius: 10px;
      display: flex;
      // justify-content: center;
      z-index: 2;
      @include tablet-v{
         padding: 16px 80px 16px 0 !important;
         border-radius: 0;
      }
      &::after{
         position: absolute;
         content: '';
         width: 8px;
         height: 8px;
         border-bottom: 1px solid $white;
         border-right: 1px solid $white;
         top: 50%;
         right: 0px;
         transform:  translateY(-50%) rotate(45deg);
         @include tablet-v {
            right: 60px;
            border-bottom: 1px solid $black;
            border-right: 1px solid $black;
         }
      }
      .sub-menu{
         position: absolute;
         transition: all .3s;
         cursor: pointer;
         text-transform: uppercase;
         color: $white;
         top: 28px;
         right: 0px;
         height: 0;
         overflow: hidden;
         z-index: -1;
         padding: 0 25px;
         // padding: 0 25px;
         @include tablet-v{
            left: auto;
            right: 0;
            color: $black;
            padding: 0 80px 0 0;
            width: 100%;
            border-bottom-right-radius: 0;
         }
         &__item{
               align-self: center;
         }
         &.isOpen{
            height: 100%;
            // padding: 10px 25px;
            @include tablet-v{

               background: $white;
               border-bottom-left-radius: 30px;
               top: 40px;
               padding: 10px 80px;

            }
         }
      }
   }

}
