.site-header {
  &__wrapper {
    .nav {
      .hamburger-menu {
        display: flex;
        align-items: center;
        width: 100%;
      }
      @include tablet-v {
        .hamburger-menu {
          position: fixed;
          display: block;
          background: rgba($white, 0.7);
          width: 50px;
          height: 50px;
          border-radius: 10px;
          top: 20px;
          right: 20px;
        }
        .menu__btn {
          display: flex;
          align-items: center;
          position: fixed;
          top: 32px;
          right: 32px;
          width: 26px;
          height: 26px;
          cursor: pointer;
          z-index: 10001;
        }
        .menu__btn > span,
        .menu__btn > span::before,
        .menu__btn > span::after {
          display: block;
          position: absolute;
          width: 100%;
          height: 2px;
          background-color: $black;
        }
        .menu__btn > span::before {
          content: "";
          top: -8px;
        }
        .menu__btn > span::after {
          content: "";
          top: 8px;
        }
        .nav-items {
          display: block !important;
          position: fixed;
          visibility: hidden;
          top: 0;
          left: 100%;
          width: 200px;
          margin: 0;
          padding: 50px 0 20px 0px;
          background: $white;
          box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
          z-index: auto;
          border-bottom-left-radius: 25px;
        }
        
        .nav-items__link {
          display: block;
          padding: 16px 60px 16px 0;
          text-align: right;
          &:last-child{
            border-top: 1px solid rgba($black, .5);
            // text-align: center;
          }
          a {
            color: $black !important;
          }
          
        }
        .nav-items__link:not(:last-child):hover {
          background-color: #cfd8dc;
        }
        #menu__toggle:checked ~ .menu__btn > span {
          transform: rotate(45deg);
        }
        #menu__toggle:checked ~ .menu__btn > span::before {
          top: 0;
          transform: rotate(0);
        }
        #menu__toggle:checked ~ .menu__btn > span::after {
          top: 0;
          transform: rotate(90deg);
        }
        #menu__toggle:checked ~ .nav-items {
          visibility: visible;
          left: calc(100% - 200px);
        }
        .menu__btn > span,
        .menu__btn > span::before,
        .menu__btn > span::after {
          transition-duration: 0.25s;
        }
        .nav-items {
          transition-duration: 0.25s;
        }
        .nav-items__link {
          transition-duration: 0.25s;
        }
      }
    }
  }
}
.hidden-menu-item {
  display: none;
  @include tablet-v {
    display: block;
  }
}
#menu__toggle {
  opacity: 0;
}
