.services {
  background: $lightblue;
  @include phone-only{
    margin-top: 400px;
  }

  &-content {
    &__item {
      display: flex;
      @include tablet-v {
        flex-wrap: wrap;
        .services-content__item-wrapp{
          width: 95%;
        }
        .services-content__item-image{
          width: 100%;
          margin-left: 30px;
        }
        .services-content__item-num{
          padding: 30px 0;
        }

      }
      @include phone-only{
        .services-content__item-wrapp,
        .services-content__item-num,
        .services-content__item-image{
          width: 100%;
          padding: 0;
          margin: 0 0 30px 0;
        }
      }
      &-num,
      &-image {
        padding: 30px;
      }

      &-num {
        opacity: 0.5;
        width: 5%;
      }

      &-wrapp {
        width: 40%;
        position: relative;
        transition: max-height 0.5s;
        padding: 30px 30px 0;
        overflow: hidden;
        @include desktop-up{
          max-height: 309px;
          margin: 0 0 30px 0;
          overflow: hidden;

        }
        @include tablet-l-only {
          max-height: 250px;
          margin: 0 0 30px 0;

        }
        @include tablet-v {
          max-height: 195px;
        }

        &.show {
          max-height: 600px;
        }

        .services-read-more {
          position: absolute;
          bottom: 0;
          right: 0;
          background: $lightblue;
          padding: 0 30px 4px 16px;
          font-weight: 600;
          cursor: pointer;
        }

        .services-content__item-title {
          margin: 0 0 30px 0;
        }
      }

      &-image {
        width: 55%;

        img {
          overflow: hidden;
          border-radius: 10px;
        }
      }
    }
  }
}
