.services {
   background: $lightblue;

   &-content {
      &__item {
         display: flex;
         &-num,
         &-wrapp,
         &-image {
            padding: 30px;
         }
         
         &-num {
            opacity: .5;
         }
         
         &-wrapp {
            width: 40%;
            position: relative;
            transition: max-height .3s;
            @include desktop-up {
               margin: 0 0 30px 0;
               overflow: hidden;
               max-height: 299px;

            }
            &.show{
               max-height: 600px;
            }

            .services-read-more {
               position: absolute;
               bottom: 0;
               right: 0;
               background: $lightblue;
               padding: 0 30px 4px 16px;
               font-weight: 600;
               cursor: pointer;
            }

            .services-content__item-title {
               margin: 0 0 30px 0;
            }
         }

         &-image {
            width: 60%;

            img {
               overflow: hidden;
               border-radius: 10px;
            }

         }
      }
   }
}
