.content {
   min-height: 800px;
   background: no-repeat url("/images/bg_1-01.png");
   background-position: top;
   background-size: contain;
   @include medium-desktop-up {
      background-position: center;
     background-size: cover;
   }
   &-wrapper {
      border-bottom: 1px solid rgba($color: $gray, $alpha: 0.2);
   }
}
